*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(97, 97, 97, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #e7e6e6;
  border-top: 6px solid #6c6c6c;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

#contenedor-login, #contenedor-register {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

#contenedor-login > div:first-child, #contenedor-register > div:last-child {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}


#contenedor-login > div:last-child, #contenedor-register > div:first-child {
    flex: 1;
}

#contenedor-login img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    box-shadow: -2px 3px 10px 15px rgba(218, 213, 213, 0.75);
}

#contenedor-register img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

#contenedor-login form{
    padding: 1rem;;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;

}

#contenedor-register section form{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 0  1rem;
    width: 100%;
}

#contenedor-register section .ocultar {
    display:none;
    visibility: hidden;
}
