*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#nav-container{
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
  width: 88%;
  height: 72px;
  padding: 0 2rem;
  background: rgba(66, 66, 66, 0.3);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  transition: .25s ease-in-out;  
  border-radius:12px;
}

#nav-container.scrolled{
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 0;
  padding: 0 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  flex-wrap: wrap;
  transform: none;
}    

#nav-container #nav-logo {
  display: flex;
  align-items: center;
  width: 100%;
}

#nav-container #nav-logo a {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
  gap: 0.5rem;

}

#nav-container #nav-logo a img {
  height: 40px;
}

#nav-container #nav-logo a h6{
  font-family: "Luckiest Guy", cursive;
  color: #fff;
  font-size: 1rem;
  margin: 0;
} 

#nav-container #nav-logo a div p, #nav-container #nav-logo a div span{
  font-family: "Lobster", sans-serif; 
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
}

#nav-container #nav-menu {
  width: 100%;
  display: flex;
}

#nav-container #nav-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

#nav-container #nav-menu ul section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#nav-container #nav-menu ul li {
  width: 100px;
  padding: 3px auto;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#nav-container #nav-menu ul li a {
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  text-align: center;
  display: block;
  color: #fff;
  transition: all 0.3s ease;
}

#nav-container #nav-menu ul div{
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

#nav-container #nav-menu ul li a.active {
  transform: scale(1.05);
  font-weight: 500;
}

#nav-container #nav-menu ul section div.active {
  background-color: #fff;
}

#nav-container #nav-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

#nav-container #nav-user .btn-user {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

#nav-container #nav-user .btn-user a{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  border-left: 1.4px solid #fff;
  padding-left: 1rem;
}

#nav-container #nav-user .btn-user a .user-name{
  display: flex;
  flex-direction: column;
}

#nav-container #nav-user .btn-user a:hover{
  transform: scale(1.05);
}

#login-btn{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  gap: 0.5rem;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#login-btn p{
  margin: 0;
  color: #fff;
  font-size: 1rem;
  font-family: "Luckiest Guy", cursive;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-btn:hover{
  transform: scale(1.05);
}

#logout-btn{
  width: 2rem;  
  height: 2rem;
  background: #ff2d59;
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#logout-btn:hover{
  transform: scale(1.1);
}

#carrito-flotante {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  gap:0.2rem;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.3s ease;
}

#carrito-flotante img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

#carrito-flotante #carrito-contador {
  font-family: "Anton", sans-serif;
  color: #ff0000;
  font-size: 1.2rem;
}

#carrito-flotante:hover {
  background-color: #a4a4a490;
  transform: scale(1.07);
  color: #ff0000;
}

#panel-carrito {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.4s ease;
  z-index: 10000;
  display: flex;
  flex-direction: column;
}

#panel-carrito.active {
  right: 0;
}

#panel-carrito header {
  background-color: #0a3a17;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#panel-carrito header h2 {
  margin: 0;
  font-size: 1.3rem;
}

#panel-carrito header button {
  background: none;
  border: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

#panel-carrito .contenido {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

#panel-carrito footer {
  padding: 1rem;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#panel-carrito footer button {
  background-color: #cfeb0c;
  color: #0a3a17;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

#panel-carrito footer button:hover {
  background-color: #a98b40ff;
  color: #fff;
}

#contenedor {
  background-color: #5f2b25;
  width: 100%;
  height: 100%;
}
