*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#nav-container{
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
  width: 88%;
  height: 72px;
  padding: 0 1rem;
  background: rgba(66, 66, 66, 0.3);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  transition: .25s ease-in-out;  
  border-radius:12px;
}

#nav-container.scrolled{
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 0;
  padding: 0 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  flex-wrap: wrap;
  transform: none;
}    

#nav-container #nav-logo {
  display: flex;
  align-items: center;
  width: 100%;
}

#nav-container #nav-logo a {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
  gap: 0.5rem;

}

#nav-container #nav-logo a img {
  height: 40px;
}

#nav-container #nav-logo a div h6{
  font-family: "Luckiest Guy", cursive;
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
} 

#nav-container #nav-logo a div p, #nav-container #nav-logo a div span{
  font-family: "Lobster", sans-serif; 
  color: #fff;
  font-size: 1.3rem;
  margin: 0;
}

#nav-container #nav-menu {
  width: 100%;
  display: flex;
}

#nav-container #nav-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.1rem;
}

#nav-container #nav-menu ul .nav-item {
  padding: 0.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#nav-container #nav-menu ul .nav-item .nav-link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;

}

#nav-container #nav-menu .nav-item .nav-link p{
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
  text-align: center;
  color: #fff;
  text-shadow: 0 2px 8px rgba(0,0,0,0.7);
}

#nav-container #nav-menu ul .nav-dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

#nav-container #nav-menu ul .nav-item .nav-link.active p{
  transform: scale(1.05);
  font-weight: 600;
}

#nav-container #nav-menu ul .nav-item .nav-dot.active {
  background-color: #fff;
}

#nav-container #nav-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

#nav-container #nav-user .btn-user {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

#nav-container #nav-user .btn-user a{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  border-left: 1.4px solid #fff;
  padding-left: 1rem;
}

#nav-container #nav-user .btn-user a .user-img{
  width:38px; 
  height:38px; 
  border-radius:50%;
  background:#ff7b4a;
  color:white;
  font-weight:700;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:1rem;
}

#nav-container #nav-user .btn-user a .user-name{
  display: flex;
  flex-direction: column;
}

#nav-container #nav-user .btn-user a:hover{
  transform: scale(1.05);
}

#login-btn{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  gap: 0.5rem;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#login-btn p{
  margin: 0;
  color: #fff !important;
  font-size: 1rem;
  font-family: "Luckiest Guy", cursive;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-btn:hover{
  transform: scale(1.05);
}

#logout-btn{
  width: 2rem;  
  height: 2rem;
  background: #ff2d59;
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#logout-btn:hover{
  transform: scale(1.1);
}

#carrito-flotante {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  background: rgba(240, 240, 240, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  gap:0.2rem;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.3s ease;
}

#carrito-flotante img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

#carrito-flotante #carrito-contador {
  color: #ff0000;
  font-size: 1.2rem;
}

#carrito-flotante:hover {
  background-color: #a4a4a490;
  transform: scale(1.07);
}

#panel-carrito {
  position: fixed;
  top: 0;
  right: -420px;
  width: 420px;
  height: 100%;
  background: rgba(28, 26, 24, 0.85);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: -6px 0 22px rgba(0, 0, 0, 0.55);
  transition: right 0.4s ease;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  border-left: 2px solid rgba(255, 201, 51, 0.25);
}

#panel-carrito.active {
  right: 0;
}

#panel-carrito header {
  background: linear-gradient(90deg, #FFC933, #E3B027);
  color: #1C1A18;
  padding: 1rem 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  border-bottom: 2px solid rgba(255,255,255,0.15);
}

#panel-carrito header h2 {
  margin: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
}

#panel-carrito header button {
  background: none;
  border: none;
  color: #1C1A18;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

#panel-carrito header button:hover {
  transform: scale(1.2);
}

#panel-carrito .contenido {
  flex: 1;
  padding: 1rem 1.3rem;
  overflow-y: auto;
  color: #FFEEDB;
  font-size: 1rem;
}

#panel-carrito footer {
  padding: 1.2rem 1.3rem;
  border-top: 2px solid rgba(255,255,255,0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(6px);
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #FFC933;
  font-size: 1.1rem;
}

#panel-carrito footer button {
  background: #FFC933;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 0.65rem 1.2rem;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s all ease;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

#panel-carrito footer button:hover {
  background: #ffc93338;
  color: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  transform: translateY(-2px);
}

#contenedor {
  background:linear-gradient(220deg,#494440 0%,#262524 40%,#3f3932 100%);
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  #nav-container{
    padding: 0.5rem;
  }
  #nav-container.scrolled{
    padding: 0.5rem;
  }

  #nav-container #nav-logo a div{
    display: none;
  }

  #nav-container #nav-menu .nav-item .nav-link p{
    display: none;
  }

  #nav-container #nav-menu ul .nav-dot{
    height: 5px;
    width: 5px;
    border-radius: 50%;
  }

  #login-btn{
    width: 6rem;  
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #login-btn img{
    width: 1.5rem;
    height: 1.5rem;
  }

  #login-btn p{
    font-size: 0.7rem;
    font-family: "Luckiest Guy", cursive;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #nav-container #nav-user .btn-user a .user-name{
    display: none;
  }

  #logout-btn, #nav-container #nav-user .btn-user a .user-img{
    width: 2rem;
    height: 2rem;
    font-size: 0.7rem
  }

  #panel-carrito {
    width: 100%;
    right: -100%;
  }
  #panel-carrito.active {
    right: 0;
  }
}
