.main-contenedor{
    padding: 1rem;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    gap: 1rem;
    background-color: #101827;
    color: #fff;
}

.main-contenedor .contenedor-create{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-create .form-create{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start; 
    padding: 1rem;
    height: 100%;

}

.contenedor-create .detalle-item{
    width: 100%;
    background: #1d2537;
    border-radius: 0.6rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: none;
    height: 100%;
    overflow: visible;
    align-items: center;
    justify-content: center;
    border: none;
    gap: .8rem;
}

.btn-crear{
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.4rem;
    border: none;
    background: #10b34c;
    color: #1d283c;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
    transition: .2s ease;
}

.btn-crear:hover{
    background: #10b34c4c;
    color: #fff;
    transform: scale(1.02);
}


.btn-closed{
    position: absolute;
    top: -.6rem;
    right: -.6rem;      
    border: none;
    background: none;
    cursor: pointer;
    transition: .2s all ease;
    z-index: 10000 ! important;
}

.btn-closed:hover{
    transform: scale(1.1);
}

.detalle-header{
    display: flex;
    gap: 0.7rem;
    height: 150px;
    width: 100%;
}

.detalle-img{
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem;
    background: #0f172a;
}

.detalle-info{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    font-size: 0.85rem;
}

.detalle-descripcion{
    width: 100%;
    flex: 1;
    background: rgba(0,0,0,.25);
    border-radius: 0.4rem;
    padding: 0.6rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
    overflow: hidden;
}

#editar-item {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.55);
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    z-index: 99999;
}

.contenedor{
    width: 40%;
    background: #1d2537;
    border-radius: .6rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-extra{
    padding: .5rem 1rem;
    background: #4ade80;
    border: none;
    border-radius: .4rem;
    font-size: .85rem;
    color: #1d2537;
    cursor: pointer;
    transition: .3s all ease;
}

.btn-extra.agregar{
    background: #22c55e;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    transition: .3s all ease;
}

.btn-extra.eliminar{
    background: #7c1919ff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    color: #fff;
    transition: .3s all ease;
}

.btn-extra:hover{
    background: #22c55e;
    transform: scale(1.03);
}

.btn-extra.eliminar:hover{
    background: #7c1919ff;
    transform: scale(1.03);
}

.btn-back{
    background: none;
    border: none;
    cursor: pointer;
    transition: .3s all ease;
}

.btn-back:hover{
    transform: scale(1.1);
}

.modal-body{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
