#nav-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 0 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap;
}      

#nav-container #nav-logo {
  display: flex;
  align-items: center;
  width: 100%;
}

#nav-container #nav-logo a {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
  gap: 1rem;
}

#nav-container #nav-logo a img {
  height: 40px;
}

#nav-container #nav-logo a p {
  color: #2d5d2a;
  font-family: "Anton", sans-serif;
  font-style: 500;
  font-size: 1.5rem;
  margin: 0;
}

#nav-container #nav-logo a h6{
  color: #2d5d2a;
  font-weight: normal;
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
} 

#nav-container #nav-menu {
  width: 100%;
  display: flex;
}

#nav-container #nav-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-container #nav-menu ul li {
  height: 100%;
  width: 100px;
  padding: auto;
  transition: all 0.3s ease;
}

#nav-container #nav-menu ul li a {
  text-decoration: none;
  font-family: "Anton", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  padding: 00.6rem;
  text-align: center;
  display: block;
  color: #2d5d2a;
}

#nav-container #nav-menu ul li:hover {
  background-color: #a4a4a43d;
}

#nav-container #nav-menu ul li a.active {
  border-bottom: 2px solid #2d5d2a;
}

#nav-container #nav-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

#nav-container #nav-user .btn-user {
  padding: 0 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  border-left: 2px solid #2d5d2a;
}

#nav-container #nav-user .btn-user p{
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #234621;
  display: block;
}

#nav-container #nav-user img {
  height: 1.8rem;
  object-fit: cover;
}

#nav-container #nav-user .btn-user:hover {
  transform: scale(1.02);
}

#nav-slogan{
  width: 100%;
  height: fit-content;
  padding: 0.5rem 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#nav-slogan p{
  padding: 0;
  margin: 0;
  font-family: "Playwrite US Trad Guides", cursive;
  font-weight: 600;
  font-size: 0.9rem;
  color: #000;
}

#nav-slogan div {
  border-radius: 2rem;
  border: none;
  background-color:#2d5d2a;
  padding: 0.4rem 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}

#nav-slogan div img{
  height: 15px;
  margin-right: 0.3rem;
}

#nav-slogan div p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.7rem;
  color: #fff;
}
#nav-slogan div strong{
  font-family: "Anton", sans-serif;
  font-weight: 200;
  font-size: 0.7rem;
  color: #ffd366;
}

#nav-separator{
  border: none;
  background-color: #ffd366;
}

#nav-separator p{
  margin: 0;
  padding: 0.2rem 0;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  color: #2d5d2a;
}

#nav-separator p strong{
  font-weight: 200;
  font-family: "Anton", sans-serif;
}

#logout-btn{
  font-family: "Libre Franklin", sans-serif;
  background: #ff2d59;
  color: white;
  border: none;
  padding: .4rem 0.5rem;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

#logout-btn:hover{
  transform: scale(1.05);
  background-color: #e84e6f;
}

#carrito-flotante {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 6rem;
  height: 2.5rem;
  background-color: #cfeb0c;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  gap:0.8rem;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.3s ease;
}

#carrito-flotante img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

#carrito-flotante #carrito-contador {
  font-family: "Anton", sans-serif;
  color: #0a3a17;
  font-size: 1.2rem;
}

#carrito-flotante:hover {
  transform: scale(1.07);
  background-color: #a0eab48c;
}

#panel-carrito {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.4s ease;
  z-index: 10000;
  display: flex;
  flex-direction: column;
}

#panel-carrito.active {
  right: 0;
}

#panel-carrito header {
  background-color: #0a3a17;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#panel-carrito header h2 {
  margin: 0;
  font-size: 1.3rem;
}

#panel-carrito header button {
  background: none;
  border: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

#panel-carrito .contenido {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

#panel-carrito footer {
  padding: 1rem;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#panel-carrito footer button {
  background-color: #cfeb0c;
  color: #0a3a17;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

#panel-carrito footer button:hover {
  background-color: #a98b40ff;
  color: #fff;
}
