* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS";
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

.swal2-container {
  z-index: 9999999 !important;
}

.swal2-backdrop-show,
.swal2-backdrop {
  z-index: 9999998 !important;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(97, 97, 97, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #e7e6e6;
  border-top: 6px solid #6c6c6c;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#contenedor-login {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedor-login img {
  position: absolute;
  width: 630px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  box-shadow: 5px 0px 15px 3px rgba(95, 95, 95, 0.75);
  top: 10%;
  right: 15%;
}

#contenedor-login .contenido {
  position: absolute;
  background-color: #fff;
  width: 430px;
  padding: 2.5rem 3rem;
  box-shadow: -5px 5px 15px 3px rgba(124, 124, 124, 0.75);
  top: 25%;
  left: 18%;
  z-index: 1;
}

.contenido-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contenido-form input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #8a8a8a;
  padding: 0.5rem;
}

#contenedor-login .contenido-form button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 6px 1px rgba(95, 95, 95, 0.75);
}

.contenido a {
  color: #ff0000;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 2px solid #ff0000;
  padding: 0.4rem 0.5rem;
  transition: all 0.3s ease;
}


#contenedor-register {
  position: relative;
  width: 100%;
  height: 100vh;
}

#contenedor-register img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  top: 0;
}

#contenedor-register .contenido {
  position: absolute;
  width: 400px;
  padding: 2.5rem;
  border-radius: 0.8rem;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12), 0 4px 10px rgba(0, 0, 0, 0.08);
  top: 20%;
  right: 35%;
  z-index: 1;
}

#contenedor-register .contenido-form input {
  width: 100%;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(12px);
  outline: none;
  font-size: 0.95rem;
  transition: 0.2s ease;
  color: #333;
}

#contenedor-register .contenido-form label {
  padding: 0 0.5rem;
  text-align: center;
  color: #000;
  font-weight: 600;
  width: 6rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

#contenedor-register .contenido-form input::placeholder {
  color: rgba(0, 0, 0, 0.35);
}

#contenedor-register .contenido-form input:focus {
  background: rgba(255, 255, 255, 0.45);
}

#contenedor-register .contenido-form button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  color: #fff;
  background-color: #062c08;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 6px 1px rgba(55, 55, 55, 0.75);
}

#contenedor-register .contenido-form button:hover {
  background-color: #0e130e;
  transform: scale(1.01);
}

@media (max-width: 700px) {
  #contenedor-login img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    box-shadow: none;
    top: 0;
    right: 0;
  }

  p{
    color: #000 !important;
  }

  #contenedor-login .contenido {
    position: relative;
    width: 80%;
    margin: 0 auto;
    top: 0;
    left: 0;
    background: rgba(181, 181, 181, 0.468);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
  }

  #contenedor-register .contenido {
    background: rgba(255, 255, 255, 0.144);
    width: 85%;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

